@using PMISBLayer.Entities
@using Domain.Dtos
@model PaymentTerm

<form asp-controller="PaymentTerms" asp-action="CreatePaymentTerm" method="post">
    <input name="DeliverableId" value="@ViewBag.deliverable.Id" style="display:none;" />
    <input name="ProjectAmount" value="@ViewBag.deliverable.ProjectPhase.Project.ContractAmount" style="display:none;" />
    <div class="form-group">
        <label>Enter PaymentTerm Name:</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" style="color: red;"></span>
    </div>
    <div class="form-group">
        <label>Enter Payment Amount:</label>
        <input asp-for="Amount" type="number" class="form-control">
        <span asp-validation-for="Amount" style="color: red;"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Create</button>
</form>