@page
@model LoginModel

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="/css/LoginSheet.css">
</head>

<section class="h-100 gradient-form "  @*style="background-color: #eee;*@>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" @*style="margin-top:1px*@">
            <div class="col-xl-10 col-lg-10">
                <div class="card rounded-3 text-black m-5">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4 m-5">

                                <div class="text-center">
                                    <img src="/Icons/engineering.png" style="width:150px;" />
                                    <br />
                                    <br />
                                    <h4 class="mt-1 mb-5 pb-1">We are The Eng Team</h4>
                                </div>

                                <form id="account" method="post">
                                    <p>Please login to your account</p>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Email" class="form-control" />
                                        <label class="form-label" for="form2Example11">Email</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Password" class="form-control" />
                                        <label class="form-label" for="form2Example22">Password</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-info btn-block fa-lg mb-3" type="submit">
                                            Log
                                            in
                                        </button>
                                        <a class="text-muted" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Don't have an account?</p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                        </p>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center" style="background-color: #A0C3D2;">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
