@using PMISBLayer.Entities
@model List<ProjectManager>

<script>
        $(document).ready(function () {
            $('#projectMnagers').DataTable();
        });
</script>

<a class="btn btn-primary" asp-controller="ProjectManagers" asp-action="NewProjectManager">Create New Project Manager</a>
<br />
<br />
<table id="projectMnagers" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Project Manager Name</th>
            <th>Project Manager Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var projectManager in Model)
            {
                <tr>
                    <td>@projectManager.FullName</td>
                    <td>@projectManager.Email</td>
                    <td><a class="btn btn-secondary" >Edit</a></td>
                    <td><a class="btn btn-danger">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>


